{{#if loggedIn}}
    <div class="row">
        <form id="newComment">
            <div class="form-group m-1">
                <label for="commentInput">Comment</label>
                <textarea class="form-control" id="commentInput" placeholder="Comment" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-1">Submit</button>
        </form>
        <script src="/js/comments.js"></script>
    </div>
    {{/if}}

\notifications.html