<div>Dashboard</div>
<div class="container">
    {{#if loggedIn}}
    <div class="row">
        <div class="col-12 col-sm-12 m-2">
            <button class="w-100 btn btn-lg btn-primary m-1" id="new-post-button"
                onclick="location.href='/js/createNewPost.js'">+ New Post</button>
        </div>
    </div>
</div>