{{#each posts as |post|}}
	<div class='card'>
		{{!-- <img src='...' class='card-img-top' alt='...' /> --}}

		<div class='card-body'>
			<h5 class='card-title'>{{post.title}}</h5>
			<p class='card-text'>{{post.content}}</p>
			<a href='#' class='btn btn-primary'>This is your ID! {{post.user.id}}</a>
		</div>
	</div>

	<div class='card' aria-hidden='true'>
		{{!-- <img src='...' class='card-img-top' alt='...' /> --}}
		<div class='card-body'>
			<h5 class='card-title placeholder-glow'>
				<span class='placeholder col-6'></span>
			</h5>
			<p class='card-text placeholder-glow'>
				<span class='placeholder col-7'></span>
				<span class='placeholder col-4'></span>
				<span class='placeholder col-4'></span>
				<span class='placeholder col-6'></span>
				<span class='placeholder col-8'></span>
			</p>
			<a
				href='#'
				tabindex='-1'
				class='btn btn-primary disabled placeholder col-6'
			></a>
			<article class='post'>
				{{#each posts as |post|}}
				{{> post-info post }}{{/each}}
			</article>
		</div>
	</div>
{{/each}}