<form>
  <div class="form-group" id="newPost">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Summary</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <button type="submit" class="btn btn-primary m-1">Create New Post</button>
</form>
<script src="/js/createNewPost.js"></script>