<div class="container text-center">
<h3>Sign Up</h3>

<form class='form login-form' id="signup-form">
  <div class='form-group'>
    <label class="m-3" for='username-signup'>Select Username:</label>
    <input class='form-input' id='username-signup' type='text' />
  </div>
  <div class='form-group'>
    <label for='password-create'>Create Password: </label>
    <input class='form-input' id='password-create' type='password' />
  </div>
  <div class='form-button'>
    <button class='btn btn-primary my-3' type='submit'>Login</button>
  </div>
</form>

<script src='./js/signup.js'></script>